.container {
  margin-top: 50px;
  position: relative;
}

.spinner_container {
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}
