.container{
    border-radius: 10px;
    margin: 15px;
    height: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: #3b2e5a; 
    
}

.container > img {
    width: 60%;
}

