* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: #172126;
  color: #00b6c3;
}

body {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}